.contenedor {
  display: flex;
  justify-content: space-around;
}
.friends {
  display: flex;
  align-items: flex-end;
  width: 400px;
  height: 500px;
  background-image: url(./friends.jpg);
  background-size: 100%;
  overflow: hidden;
}
.hijo {
  width: 100%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: justify;
  position: relative;
  top: 500px;
  transition: all 0.5s;
}
.hijo:hover {
}
.friends:hover .hijo {
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateY(-500px);
  width: 400px;
  height: 500px;
  display: flex;
  align-items: flex-end;
}
